.logo{
    width: 200px;
}

.images-frame{
    border:1em solid #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    margin: 5px;
    transition: 0.5s ease;
    width: 200px;
    height: 200px;
}

.images-frame:hover{
    transform: scale(1.05);
    cursor: pointer;
}

img{
    box-shadow: 0 2px 5px rgba(0,0,0,0.3) inset;
}

.upload-btn{
    padding: 10px 20px;
    background-color: #2979ff;
    border: none;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    transition: 0.5s ease;
    width:10%;
}

.upload-btn:hover{
    background-color: #1c54b2;
}